<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <header class="border-bottom">
        <nav class="navbar navbar-expand navbar-light bg-white">
            <div class="container" style="max-width: 900px;">
                <a class="navbar-brand fw-semibold" asp-controller="Payments" asp-action="Index">Reto1</a>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Payments" asp-action="Index">Payments</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="container py-4" style="max-width: 900px;">
        @RenderBody()
    </main>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>